

.fade-enter {
  transform: translateY(120%);
}

.fade-enter.fade-enter-active {
  transform: translateY(0);
  transition: transform 300ms ease-in;
}

.fade-exit {
  transform: translateY(0);
}

.fade-exit.fade-exit-active {
  transform: translateY(120%);
  transition: transform 500ms ease-in;
}