.priority-container {
  width: 100vw;
  border: 1px solid slategrey;
  color: white;
  align-items: center;
  position: relative;
}

.priority-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.level-five {
  height: 100vh;
  background-color: #FF5767;
}

.level-four {
  height: 80vh;
  background-color: #FF866E;
}

.level-three {
  height: 60vh;
  background-color: #FFD58D;
}

.level-two {
  height: 40vh;
  background-color: #FFE68E
}

.level-one {
  height: 20vh;
  background-color: #A0FF8D
}